<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div class="wrapper">
  <div class="page-header clear-filter" >
      <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/blurred-image-1.jpg');">
      </div>
      <div class="container">
          <div class="content-center brand">
              <img src="./assets/img/now-logo.png" alt="" style="width:75%;">
              <h3>First impressions count.</h3>
          </div>
      </div>
  </div>
  <!-- <div class="section section-images">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="hero-images-container">
                      <img src="assets/img/hero-image-1.png" alt="">
                  </div>
                  <div class="hero-images-container-1">
                      <img src="assets/img/hero-image-2.png" alt="">
                  </div>
                  <div class="hero-images-container-2">
                      <img src="assets/img/hero-image-3.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <img src="./assets/img/whoweare.png" alt="" style="width:75%;">
                  <h5 class="description">SavingFace’s mission is to give people control over the message their profile photos deliver.</h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('../assets/img/login.jpeg')">
                          <!-- First image on the left side -->
                          <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                              <br>
                              <br>
                              <small>-NOAA</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('../assets/img/bg3.jpeg'); background-position: unset;"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('../assets/img/bg1.jpg')"></div>
                      <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                      </p>
                      <p>
                          For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                      </p>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                      </p>
                  </div>
              </div>
          </div>


            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <img src="./assets/img/research.png" alt="" style="width:75%;">
                    <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>
            </div>
      </div>
  </div>

  <div class="page-header clear-filter" >
        <div class="container">
            
            <div class="content-center brand">
                    <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <img src="./assets/img/try.png" alt="" style="width:75%;">
                            </div>
                        </div>
                <div class="row">
                    
                    <div class="col" style="width:500px; height:650px">
                        <img src="{{picture}}" alt="">
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="output" class="form-control" />
                    </div>
                    <div class="w-100">
                    </div>
                    <div class="col">
                        <input type="url" [(ngModel)]="picture" class="form-control" />
                    </div>
                    <div class="col">
                            <button class="btn btn-lg" (click)="sendPicture()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="section section-team text-center">
      <div class="container">
            <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <img src="./assets/img/team.png" alt="" style="width:75%;">
                    </div>
                </div>
                <div class="team">
                    <div class="row">
                        <div class="col">
                            <div class="team-player">
                                <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Abeer Altaf</h4>
                                <p class="category text-primary">Model</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-player">
                                <img src="../assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Anastasia Egorova</h4>
                                <p class="category text-primary">Designer</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-player">
                                <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Meghana Subramaniam</h4>
                                <p class="category text-primary">Fashion</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                            </div>
                        </div>
    
                        <div class="col">
                                <div class="team-player">
                                    <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                    <h4 class="title">Danielle Wheeler</h4>
                                    <p class="category text-primary">Fashion</p>
                                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <img src="./assets/img/Sources.png" alt="" style="width:75%;">
                    <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>
            </div>
      </div>
  </div>
  
  <!--  End Modal -->
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, Designed by
              <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>