<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div class="wrapper">
  <div class="page-header clear-filter" >
      <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/blurred-image-1.jpg');">
      </div>
      <div class="container">
          <div class="content-center brand">
              <img src="./assets/img/now-logo.png" alt="" style="width:75%;">
              <h3>First impressions count.</h3>
          </div>
      </div>
  </div>
  <!-- <div class="section section-images">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="hero-images-container">
                      <img src="assets/img/hero-image-1.png" alt="">
                  </div>
                  <div class="hero-images-container-1">
                      <img src="assets/img/hero-image-2.png" alt="">
                  </div>
                  <div class="hero-images-container-2">
                      <img src="assets/img/hero-image-3.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <img src="./assets/img/whoweare.png" alt="" style="width:75%;">
                  <h5 class="description">SavingFace’s mission is to give people control over the message their profile photos deliver.</h5>
              </div>
          </div>
          <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <img src="./assets/img/research.png" alt="" style="width:75%;">
                </div>
            </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('../assets/img/login.jpeg')">
                          <!-- First image on the left side -->
                          <p class="blockquote blockquote-primary">"The future belongs to those who believe in the beauty of their dreams."
                              <br>
                              <br>
                              <small>-Eleanor Roosevelt</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('../assets/img/bg3.jpeg'); background-position: unset;"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('../assets/img/bg1.jpg')"></div>
                      <h3>...it takes one-tenth of a second for a person to look at your picture and form an impression about your personality...</h3>
                      <p>Research has shown that it takes one-tenth of a second for a person to look at your picture and form an impression about your personality. 
                      </p>
                           <p> A recent study investigated several low level features such as saturation, hue and contrast as well as high level features such as face size, setting, dress style, glasses, smile, background, head tilt etc. that influence our impression of images.
                            </p>
                            <p>Saving Face looks at some of these elements and provides users with feedback about what they can do to improve the quality of pictures.
                            </p>
                            <p>We first used Microsoft’s Cognitive Service Vision API, in particular the Face API that detects human faces and returns face attributes containing machine learning-based predictions of facial features. Of the available features, we used low level features such as exposure, noise and blur and high level features such as emotion (anger, contempt, disgust, fear, happiness, neutral, sadness and surprise), smile, and accessories such as sunglasses. Additionally, we used Google’s Logo Detection API that detects product logos within an image.
                             </p>
                  </div>
              </div>
          </div>


           
      </div>
  </div>

  <div class="page-header clear-filter" >
        <div class="container">
            
            <div class="content-center brand">
                    <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <img src="./assets/img/try.png" alt="" style="width:75%;">
                            </div>
                        </div>
                <div class="row">
                    
                    <div class="col">
                        <img src="{{picture}}" alt="">
                    </div>
                    <div class="col" >
                        <!-- <input type="text" [(ngModel)]="output" class="form-control" /> -->
                        <h5 style="color: black">{{output}}</h5>
                    </div>
                    <div class="w-100">
                    </div>
                    <div class="col">
                        <input type="url" [(ngModel)]="picture" class="form-control" />
                    </div>
                    <div class="col">
                            <button class="btn btn-lg" (click)="sendPicture()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="section section-team text-center">
      <div class="container">
            <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <img src="./assets/img/team.png" alt="" style="width:75%;">
                    </div>
                </div>
                <div class="team">
                    <div class="row">
                        <div class="col">
                            <div class="team-player">
                                <h4 class="title">Abeer Altaf</h4>
                           </div>
                        </div>
                        <div class="col">
                            <div class="team-player">
                                <h4 class="title">Anastasia Egorova</h4>
                             </div>
                        </div>
                        <div class="col">
                            <div class="team-player">
                                <h4 class="title">Meghana Subramaniam</h4>
                           </div>
                        </div>
    
                        <div class="col">
                                <div class="team-player">
                                    <h4 class="title">Danielle Wheeler</h4>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <img src="./assets/img/future.png" alt="" style="width:75%;">
                    <h5 class="description">We plan on using machine learning to analyze what pictures work and what don’t. This app is a product of only our preliminary research, and by using machine learning, we can project even further what pictures work best.</h5>
                </div>
            </div>
      </div>
  </div>
  
  <!--  End Modal -->
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, Designed by
              <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>